RAILS_ENV=development
RAILS_SECRET_TOKEN="replacemeasap"
RAILS_HOST_NAME=your-domain.com

BASE_URL=https://${RAILS_HOST_NAME}
DATABASE_URL="postgres://myuser:mypass@localhost"
DATABASE_NAME=slack_rails_bot

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=
SLACK_OAUTH_SCOPE="users:read,channels:read,groups:read,chat:write,commands,incoming-webhook"
